{% block content %}
<h1>Hosts List</h1>
  {% if host_list %}
<table>
    {% for host in host_list %}
    <tr>
        <td><a href="{{ host.get_absolute_url }}{{ host.pk }}">{{ host.hostname }}</a></td>
		<td>{{ host.restriction }}</td>
		<td>{{ host.serialnumber }}</td>
		<td>{{ host.cs_manufacturer }}</td>
		<td>{{ host.cs_model }}</td>
		<td>{{ host.cs_systemfamily }}</td>
		<td>{{ host.division.int_acro }}</td>
		<td>{{ host.owner }}</td>
		<td>{{ host.person.full_name }}</td>
		<td>{{ host.check_date|date:"d.m.Y" }}</td>
		<td>{{ host.note }}</td>
    </tr>
    {% endfor %}
</table>
  {% else %}
<p>There are no registered hosts.</p>
  {% endif %}
{% endblock %}

