{% extends "base.html" %}

{% block title %}Persons{% endblock title %}

{% block pagename %}Persons{% endblock pagename %}

{% block content %}
{% if person_list %}
<table>
    <tr>
        <th>Військове звання</th>
        <th>Прізвище</th>
        <th>Ім'я</th>
        <th>По батькові</th>
        <th>Номер телефону</th>
    </tr>
    {% for p in person_list %}
    <tr>
        <td>{{ p.military_rank }}</td>
        <td><a href="{{ p.get_absolute_url }}{{ p.pk }}">{{ p.family_name }}</a></td>
        <td>{{ p.first_name }}</td>
        <td>{{ p.middle_name }}</td>
        <td>{{ p.phone_number }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>There are no registered persons.</p>
{% endif %}
<p><a href="add">Створити новий</a></p>
{% endblock content %}
