{% extends "base.html" %}

{% block title %}Storage devices{% endblock title %}

{% block pagename %}Storage devices{% endblock pagename %}

{% block content %}
  {% if usbstor_list %}
<table>
    {% for usd in usbstor_list %}
    <tr>
        <td><a href="{{ usd.get_absolute_url }}{{ usd.pk }}">{{ usd.regid }}</a></td>
	<td>{{ usd.regnum }}</td>
	<td>{{ usd.regdate }}</td>
	<td>{{ usd.serialnum }}</td>
	<td>{{ usd.divname }}</td>
	<td>{{ usd.owner }}</td>
    </tr>
    {% endfor %}
</table>
  {% else %}
<p>There are no registered USB storage devices.</p>
  {% endif %}
  <p><a href="add">Створити новий</a></p>
{% endblock %}
